@import "src/global-styles/_variables";

.bottom-drawer {
  position: absolute;
  width: 100%;
  div.product-feed {
    width: 100%;
    margin: 0;
    background: $lightgrey;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
    div.inner-content{
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100% - 35px);
    }
    div.handle {
      border-bottom: 1px solid $midgrey;
      background: $midgrey;
      line-height: 35px;
      height: 35px;
    }
  }
}
