@import "src/global-styles/_variables";

.bottom-drawer {
  position: absolute;
  width: 100%;
  div.product-feed {
    width: 100%;
    margin: 0;
    background: $lightgrey;
    // border-top-right-radius: 8px;
    // border-top-left-radius: 8px;
    overflow: hidden;
    div.inner-content{
      // display: flex;
      // align-items: center;
      // padding-top: 20px;
      height: calc(100% - 35px);
    }
    div.handle {
      &::before{
        position: absolute;
        top: 12px;
        left: calc(50% - 15px);
        width: 30px;
        height: 4px;
        border-radius: 5px;
        background: green;
        content: ""
      }
      // border-bottom: 1px solid $midgrey;
      // background: $midgrey;
      line-height: 35px;
      height: 35px;
    }
  }
}
