// $navyblue: #080a3c;
// $brightblue: #3960ef;

// $backgroundgrey: #f9f9f9;
$lightgrey: #dee2e8;
$midgrey: #c7cedd;
// $darkergrey: #606570;
$darkestgrey: #4a4f59;

$green: #37c16b;
$grey: #f2f2f2;
$grey02: #f3f2f1;
$black: #2c2c2c;
