@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');
@import "./_variables";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  background: white;
  height: 100%;
}

body {
  background: $backgroundgrey;
  color: $navyblue;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  font-weight: 400;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.01em;
  max-width: 510px;
  height: 100%;
  text-align: center;
  div#root {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}

::selection {
  background: $brightblue;
  color: white; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $brightblue;
  color: white;/* Gecko Browsers */
}
