@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');
@import "./_variables";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  position: fixed;
}

body {
  background: white;
  background: $darkestgrey;
  color: $black;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  font-weight: 400;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.01em;
  max-width: 510px;
  height: 100%;
  text-align: center;
  overscroll-behavior: none;
  position: fixed;
  div#root {
    height: 100%;
    position: relative;
    position: fixed;
    max-width: 510px;
    overflow: hidden;
    background: white;
  }
}
div.message {
  position: fixed;
  background: white;
  width: calc(100% - 710px);
  min-width: 350px;
  height: 400px;
  right: 100px;
  top: 50%;
  border-radius: 5px;
  opacity: 0.9;
  transform: translate(0%, -50%);
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px;
  a {
    color: $green;
    text-decoration: underline;
  }
}

::selection {
  background: $green;
  color: white; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $green;
  color: white;/* Gecko Browsers */
}
