@import "src/global-styles/_variables";

nav {
  height: 50px;
  background: $grey;
  position: absolute;
  top: 0;
  width: calc(100% - 0px);
  z-index: 30;
  display: grid;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  // justify-content: center;
  grid-template-columns: 70px auto 70px;
  margin: 0px;
  padding: 0 5px;
  div.burger {
    justify-self:center;
    text-align: center;
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    div {
      height: 1px;
      width: 18px;
      background: $black;
      &.top { transform: translateY(-3px);}
      &.bottom { transform: translateY(3px);}
    }
  }
  div {
    svg {
      fill: $black;
      opacity: 0.9;
      padding: 1px;
    }
  }

}
