@import "src/global-styles/_variables";

nav {
  height: 50px;
  background: $grey;
  position: absolute;
  top: 0;
  width: calc(100% - 0px);
  z-index: 30;
  display: grid;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  // justify-content: center;
  grid-template-columns: 70px auto 70px;
  margin: 0px;
  padding: 0 5px;
  div.burger {
    justify-self:center;
    text-align: center;
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    div {
      height: 1px;
      width: 18px;
      background: $black;
      &.top { transform: translateY(-3px);}
      &.bottom { transform: translateY(3px);}
    }
  }
  div {
    div.icon {
      height: 48px;
      width: 18px;
      margin: 0 auto;
      position: relative;
      transition: 0.8s ease;
      &::before {
        content: '';
        border-radius: 50%;
        transition: 0.8s ease;
        position: absolute;
        top: 50%;
        height: 20px;
        width: 20px;
        left: 48%;
        transform: translate(-50%, -50%);
        background: $green;
        opacity: 0;
      }
      &.pulse {
        &::before {
          transform: translate(-50%, -50%) scale(1.9);
          opacity: 0.7;
        }
      }
      svg {
        fill: $black;
        opacity: 0.9;
        padding: 1px;
      }
      span.values {
        position: absolute;
        top: 18px;
        right: 9px;
        transform: translate(45%);
        font-size: 11px;
        font-weight: 400;
        // color: $green;
      }
    }
  }

}
