@import "src/global-styles/_variables";

div.product-display {
  margin-top: 55px;
  position: relative;
  transition: 0.2s ease;
  padding: 10px;
  overflow: hidden;
  &.fadein {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  &.fadeout {
    opacity: 0;
    transform: translate3d(0,20px,0);
  }
  img {
    border-radius: 5px;
    width: 100%;
  }
}
