@import "src/global-styles/_variables";

div.product-display {
  margin-top: 80px;
  position: relative;
  transition: 0.2s ease;
  padding: 0 0px;
  overflow: hidden;
  text-align: left;
  height: 100%;
  img {
    border-radius: 5px;
    width: 100%;
  }
  div.details {
    position: relative;
    margin: 0px 30px 0px 30px;
    height: 30%;
    h3 {
      margin: 0;
      &.brand {
        font-size: 15;
        margin-bottom: 0px;
      }
      &.title {
        margin: 9px 0;
        font-size: 15;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    p.description {
      margin: 9px 0;
      height: 72px;
      overflow-y: scroll;
      position: relative;
    }
    span.fade-overlay{
      position: absolute;
      width: 100%;
      top: 110px;
      left: 0;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 1)));
      height: 30px;
    }
    p.price {
      margin: 0;
      position: absolute;
      right: 0;
      top:0;
      color: $green;
      font-weight: 600;
      font-size: 18px;
    }

    div.button {
      transition: 0.2s ease;
      &.updated {
        transform: translate(-50%, -50%) scale(1.1);
      }
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: -0px;
      display: inline-block;
      background: $green;
      padding: 10px 20px;
      min-width: 220px;
      border-radius: 10px;
      color: white;
      text-align: center;
    }
  }
}


div#scene {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  font-size: 0;
}
