@import "src/global-styles/_variables";

div.product-display {
  margin-top: 80px;
  position: relative;
  transition: 0.2s ease;
  padding: 0 10px;
  overflow: hidden;
  text-align: left;
  height: 100%;
  &.fadein {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  &.fadeout {
    opacity: 0;
    transform: translate3d(0,20px,0);
  }
  img {
    border-radius: 5px;
    width: 100%;
  }
  div.details {
    position: relative;
    margin: 0px 30px 0px 30px;
    // margin-left: 30px;
    height: 30%;

    div.button {
      transition: 0.2s ease;
      &.updated {
        transform: translate(-50%, -50%) scale(1.1);
      }
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: 0px;
      display: inline-block;
      background: $green;
      padding: 10px 20px;
      min-width: 220px;
      // word-break:break-all;
      border-radius: 10px;
      color: white;
      text-align: center;
    }
  }
}


div#scene {
  font-size: 0;
}
