@import "src/global-styles/_variables";

div.basket {
  height: calc(100% - 80px);
  overflow-y: scroll;
  padding: 0 10px;
  margin: 60px 0px;
  div.basket-item {
    border-bottom: 1px solid $black;
    padding: 30px 5%;
    img {
      width: 40%;
    }
    div.details {
      padding: 0 30px;
      text-align: left;
      display: inline-block;
      width: 50%;
      h3 {
        margin: 5px 0;
      }
      p {
        margin: 4px 0;
      }
    }
  }
}
