@import "src/global-styles/_variables";

div.basket {
  height: calc(100% - 0px);
  overflow-y: scroll;
  padding: 0 0px;
  margin: 20px 0px 60px 0;
  .swipe-to-delete {
    background: $green;
    color:white;
  }
  .rc-swipeout, .rc-swipeout-content {
    height: 100%;
  }
  div.basket-item {
    border-bottom: 1px solid $lightgrey;
    padding: 20px 10px;
    background: $grey;
    display: flex;
    justify-content: space-around;
    height: 100%;
    img {
      -webkit-box-shadow: 5px 5px 26px 1px rgba(0,0,0,0.15);
      -moz-box-shadow: 5px 5px 26px 1px rgba(0,0,0,0.15);
      box-shadow: 5px 5px 26px 1px rgba(0,0,0,0.15);
      display: inline-block;
      width: 38%;
      height: calc(100% - 10px);
      border-radius: 12px;
      margin: 5px 0;
    }
    div.details {
      padding: 8px 0px;
      text-align: left;
      width: 47%;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        margin: 0px 0;
      }
      p {
        margin: 0px 0;
        font-size: 13px;
        &.price {
          color: $green;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
}
