@import "src/global-styles/_variables";

div.basket {
  height: calc(100% - 140px);
  overflow-y: scroll;
  padding: 0 0px;
  margin: 0px 0px 0px 0;
  position: relative;
  // background: red;
  .swipe-to-delete {
    background: $green;
    color:white;
  }
  .rc-swipeout, .rc-swipeout-content {
    height: 100%;
  }
  div.basket-item {
    border-bottom: 1px solid $lightgrey;
    padding: 20px 10px;
    background: $grey;
    display: flex;
    justify-content: space-around;
    height: 100%;
    img {
      -webkit-box-shadow: 5px 5px 26px 1px rgba(0,0,0,0.15);
      -moz-box-shadow: 5px 5px 26px 1px rgba(0,0,0,0.15);
      box-shadow: 5px 5px 26px 1px rgba(0,0,0,0.15);
      display: inline-block;
      width: 38%;
      height: calc(100% - 10px);
      border-radius: 12px;
      margin: 5px 0;
    }
    div.details {
      padding: 8px 0px;
      text-align: left;
      width: 47%;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        margin: 0px 0;
      }
      p {
        margin: 0px 0;
        font-size: 13px;
        &.price {
          color: $green;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
}

div.checkout-tab {
  border-top: 2px solid $lightgrey;
  opacity: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 100px;
  margin-bottom: 80px;
  div.total {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    span {
      display: inline-block;
    }
    :first-child {
      :first-child {
        font-weight: 500;
        padding-right: 10px;
      }
      :last-child {
        font-size: 12px;
        transform: translate(0, -1px);
        font-weight: 400;
        color: inherit;
      }
    }
    :last-child {
      font-weight: 500;
      color: $green;
    }
  }
  div.button {
    transition: 0.2s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -35%);
    bottom: 0px;
    display: inline-block;
    background: $green;
    padding: 10px 20px;
    min-width: 220px;
    border-radius: 10px;
    color: white;
    text-align: center;
  }
}
