@import "src/global-styles/_variables";

.top-drawer {
  position: absolute;
  width: 100%;
  z-index: 10;
  // opacity: 0.6;
  div.basket-content {
    overflow: hidden;
    // border-bottom-right-radius: 8px;
    // border-bottom-left-radius: 8px;
    width: 100%;
    margin: 0;
    // background: $lightgrey;
    position: relative;
    z-index: 10;
    div.inner-content{
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items: center;
      height: calc(100% - 40px);
      background: $grey;
      // background: blue;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    div.handle {
      position: absolute;
      bottom: 0;
      width: 100%;
      // border-top: 1px solid $midgrey;
      background: transparent;
      // background: red;
      // line-height: 40px;
      height: 80px;
      overflow: visible;
      &::before{
        position: absolute;
        top: 17px;
        left: calc(50% - 15px);
        width: 30px;
        height: 4px;
        border-radius: 5px;
        background: $green;
        content: ""
      }
      // &::after{
      //   position: absolute;
      //   bottom: 26px;
      //   left: 0;
      //   width: 100%;
      //   height: 0px;
      //   background: $green;
      //   content: ""
      // }
    }
  }
}
