@import "src/global-styles/_variables";

div.siema {
  display: block;
  width: 100%;

  // margin-top:50%;

  // position: absolute;
  // top: 50%;
  transform: translate(0%, -5px);
  > div {
    font-size: 0px;
    padding: 0;
    display: flex;
    flex-direction: row;
    > div {
      float: none !important;
      &:last-of-type { opacity: 0; }
      > div.each-image {
        margin: 30px 14px;
        > div.inside-wrap {
          // &.focus {
          //   transform: translate3d(calc(50% + 8px), 0,0) scale(1.2);
          // }
          box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
          transition: 0.2s ease-in;
          transform: translate3d(calc(50% + 8px), 0,0);
          background: white;
          text-align: left;
          padding: 10px;
          border-radius: 5px;
          position: relative;
          img { width: calc(100%); }
          h3 {
            font-size: 13px;
            margin: 0px 3px;
            width: 100%;
            &.brand {
              font-weight: 600;
            }
            &.title {
              margin: 5px 3px;
              font-weight: 400;
              text-transform: uppercase;
              span {
                float: right;
                margin-right:5px;
                color: $green;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
