@import "src/global-styles/_variables";

div.siema {
  display: block;
  margin-top:20px;
  // position: absolute;
  // top: 50%;
  // transform: translate(0%, -50%);
  > div {
    font-size: 0px;
    padding: 0;
    display: flex;
    flex-direction: row;
    > div {
      float: none !important;
      &:last-of-type { opacity: 0; }
      > div.each-image {
        margin: 25px 14px;
        > div.inside-wrap {
          &.focus {
            transform: translate3d(calc(50% + 8px), 0,0) scale(1.2);
          }
          box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
          transition: 0.2s ease-in;
          transform: translate3d(calc(50% + 8px), 0,0);
          background: white;
          text-align: left;
          padding: 10px;
          padding-bottom: 40px;
          border-radius: 5px;
          img { width: calc(100%); }
          h3 { font-size: 15px; }
          p { font-size: 12px; }
        }
      }
    }
  }
}
